<!DOCTYPE html>
<html>
  <head>
    <title>Spark Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h1>Spark Salon</h1>

          <ul>
            <li><a href="/">Appointments</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/stylists">Stylists</a></li>
            <li><a href="/procedures">Procedures</a></li>
          </ul>
        </div>
        <div class="col-sm-9">
          #parse( $template )
        </div>
      </div>
    </div>
  </body>
</html>
